[package]
name = "watchexec-cli"
version = "1.20.6"

authors = ["Matt Green <mattgreenrocks@gmail.com>", "Félix Saparelli <felix@passcod.name>"]
license = "Apache-2.0"
description = "Executes commands in response to file modifications"
keywords = ["watcher", "filesystem", "cli", "watchexec"]
categories = ["command-line-utilities"]

documentation = "https://watchexec.github.io/docs/#watchexec"
homepage = "https://watchexec.github.io"
repository = "https://github.com/watchexec/watchexec"
readme = "README.md"

edition = "2021"

[[bin]]
name = "watchexec"
path = "src/main.rs"

[dependencies]
console-subscriber = { version = "0.1.0", optional = true }
dirs = "4.0.0"
dunce = "1.0.2"
futures = "0.3.17"
miette = { version = "5.3.0", features = ["fancy"] }
notify-rust = "4.5.2"
tracing = "0.1.26"

[dependencies.clap]
version = "4.0.12"
features = ["cargo", "wrap_help"]

[dependencies.ignore-files]
version = "1.0.1"
path = "../ignore-files"

[dependencies.project-origins]
version = "1.1.1"
path = "../project-origins"

[dependencies.watchexec]
version = "2.0.2"
path = "../lib"

[dependencies.watchexec-filterer-globset]
version = "1.0.1"
path = "../filterer/globset"

[dependencies.watchexec-filterer-tagged]
version = "0.1.1"
path = "../filterer/tagged"

[dependencies.tokio]
version = "1.19.2"
features = [
	"fs",
	"io-std",
	"process",
	"rt",
	"rt-multi-thread",
	"signal",
	"sync",
]

[dependencies.tracing-subscriber]
version = "0.3.6"
features = [
	"env-filter",
	"fmt",
	"json",
	"tracing-log",
]

[target.'cfg(target_env = "musl")'.dependencies]
mimalloc = "0.1.26"

[build-dependencies]
embed-resource = "1.6.1"

[features]
## For debugging only: enables the Tokio Console.
dev-console = ["console-subscriber"]

[package.metadata.binstall]
pkg-url = "{ repo }/releases/download/v{ version }/watchexec-{ version }-{ target }.{ archive-format }"
bin-dir = "watchexec-{ version }-{ target }/{ bin }{ binary-ext }"
pkg-fmt = "txz"

[package.metadata.binstall.overrides.x86_64-pc-windows-msvc]
pkg-fmt = "zip"

[package.metadata.deb]
maintainer = "Félix Saparelli <felix@passcod.name>"
license-file = ["../../LICENSE", "0"]
section = "utility"
depends = "libc6, libgcc-s1" # not needed for musl, but see below
# conf-files = [] # look me up when config file lands
assets = [
	["../../target/release/watchexec", "usr/bin/watchexec", "755"],
	["README.md", "usr/share/doc/watchexec/README", "644"],
	["../../doc/watchexec.1.html", "usr/share/doc/watchexec/watchexec.1.html", "644"],
	["../../doc/watchexec.1", "usr/share/man/man1/watchexec.1.html", "644"],
	["../../completions/zsh", "usr/share/zsh/site-functions/_watchexec", "644"],
	["../../doc/logo.svg", "usr/share/icons/hicolor/scalable/apps/watchexec.svg", "644"],
]

[package.metadata.generate-rpm]
assets = [
	{ source = "../../target/release/watchexec", dest = "/usr/bin/watchexec", mode = "755" },
	{ source = "README.md", dest = "/usr/share/doc/watchexec/README", mode = "644", doc = true },
	{ source = "../../doc/watchexec.1.html", dest = "/usr/share/doc/watchexec/watchexec.1.html", mode = "644", doc = true },
	{ source = "../../doc/watchexec.1", dest = "/usr/share/man/man1/watchexec.1.html", mode = "644" },
	{ source = "../../completions/zsh", dest = "/usr/share/zsh/site-functions/_watchexec", mode = "644" },
	{ source = "../../doc/logo.svg", dest = "/usr/share/icons/hicolor/scalable/apps/watchexec.svg", mode = "644" },
	# set conf = true for config file when that lands
]

auto-req = "disabled"
# technically incorrect when using musl, but these are probably
# present on every rpm-using system, so let's worry about it if
# someone asks.
[package.metadata.generate-rpm.requires]
glibc = "*"
libgcc = "*"
