pre-release-commit-message = "release: cli v{{version}}"
tag-prefix = "cli-"
tag-message = "watchexec {{version}}"

# We wait until the release CI is done before publishing,
# because publishing is irreversible, but a release can be
# reverted a lot more easily.
publish = false

[[pre-release-replacements]]
file = "../CITATION.cff"
search = "^version: \"?[\\d.]+(-.+)?\"?"
replace = "version: \"{{version}}\""
prerelease = true
max = 1

[[pre-release-replacements]]
file = "../CITATION.cff"
search = "^date-released: .+(-.+)?"
replace = "date-released: {{date}}"
prerelease = true
max = 1

[[pre-release-replacements]]
file = "watchexec.exe.manifest"
search = "^		version=\"[\\d.]+[.]0\""
replace = "		version=\"{{version}}.0\""
prerelease = false
max = 1

[[pre-release-replacements]]
file = "tests/snapshots/help__help_windows.snap"
search = "watchexec [\\d.]+(-.+)?"
replace = "watchexec {{version}}"
prerelease = true
max = 1

[[pre-release-replacements]]
file = "tests/snapshots/help__help_unix.snap"
search = "watchexec [\\d.]+(-.+)?"
replace = "watchexec {{version}}"
prerelease = true
max = 1
