name: Open a release PR
on:
  workflow_dispatch:
    inputs:
      crate:
        description: Crate to release
        required: true
        type: choice
        options:
          - cli
          - lib
          - filterer/globset
          - filterer/ignore
          - filterer/tagged
          - ignore-files
          - project-origins
      version:
        description: Version to release
        required: true
        type: string

jobs:
  make-release-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Install cargo-release
        uses: taiki-e/install-action@v1
        with:
          tool: cargo-release

      - uses: actions/checkout@v3
        with:
          ref: main

      - uses: cargo-bins/release-pr@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          version: ${{ inputs.version }}
          crate-path: crates/${{ inputs.crate }}
          pr-release-notes: true
          pr-label: release
          pr-template-file: .github/workflows/release-pr.ejs
